header {
    text-align: center;
    position: relative;
    top: 0px;
    width: 100%;
}

section {
    text-align: center;
    position: relative;
    top: 10%;
    width: 100%;
}

aside {
  position: relative;
  float:left;
  width: 20%; 
  top: 0px;
  bottom: 0px;
  left: 25%;
  text-align: center;
}

textarea[name="user-input"] {
  color: #555555;
  font-family:'Courier New', Courier, monospace;
  padding: 15px;
}

ul {
    list-style: none;
    background-color: rgb(196, 196, 196);
    padding: 15px 25px;
    text-align: left;
}

li {
  border-bottom-width: 4px;
  border-bottom: black solid;
  padding: 5px 0 5px 10px;
  box-sizing: border-box;
}

#reset-button {
    background-color: rgb(44, 44, 44);
    color: #ffffff;
    border-radius: 15px;
    cursor: pointer;
    padding: 10px 25px;
    font-size: 15px;
    text-align: center;	
    border: none;
  }
  
  #reset-button:hover {
    background-color: rgb(66, 66, 66);
    }
  
  #reset-button:active {
    background-color: rgb(66, 66, 66);
    transform: translateY(1px);
  }

main {
    position: relative;
    float:right;
    width:30%; 
    top: 0px;
    bottom: 0px;
    right: 20%;
}

footer {
    font-size: smaller;
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
}